<div class="table-responsive">
    <table id="{{ table.attrId|e }}" class="datatable {{ table.attrClass|e }}">
        {% include 'organisms/table-thead.html.twig' with items %}
        {% include 'organisms/table-tbody.html.twig' with items %}
    </table>
</div><!--end .table-responsive -->
